body {
	font-family:tahoma;
	background-color:#ebebeb;
	margin:0px;
}
img {
	border:none;
}

#main_head {
	width:100%;
	height:175px;
	position:relative;
	z-index:1;

	background: #f8f8f8; /* Old browsers */
	background: -moz-linear-gradient(top, #f8f8f8 52%, #ebebeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(52%,#f8f8f8), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f8f8f8 52%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f8f8f8 52%,#ebebeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f8f8f8 52%,#ebebeb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f8f8f8 52%,#ebebeb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
	
	border-bottom: 1px solid #f6f6f6;

	-moz-box-shadow: 0px 0px 7px rgb(88, 88, 88);
	-webkit-box-shadow: 0px 0px 7px rgb(88, 88, 88);
	box-shadow: 0px 0px 7px rgb(88, 88, 88);
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#c1c1c1')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#c1c1c1');
}
#main_head_wrap {
	width:1115px;
	height:175px;
	padding:5px;
	margin-right:auto;
	margin-left:auto;
}
#logo {
	float:left;
	margin-top:25px;
	background-image:url('../images/logo.png');
	display:block;
	width:324px;
	height:98px;
	text-indent:-9999px;
}
#nav {
	float:right;
	width:785px;
	height:50px;
	margin-top:115px;
}
a.nav_items:link, a.nav_items:visited{
	text-decoration:none;
	font-family:'RobotoLight', Tahoma, sans-serif;
	font-size:22pt;
	color:#777777;
}
a.nav_items-b:link, a.nav_items-b:visited{
	text-decoration:none;
	font-family:'RobotoLight', Tahoma, sans-serif;
	font-size:22pt;
	color:#05aede;
}
.nav_items_s {
	display: inline-block;
	vertical-align:middle;
	height:31px;
}
.nav_line {
	background-image:url('../images/nav_line.png');
	display: inline-block;
	height:50px;
	width:2px;
	margin-left:10px;
	margin-right:10px;
	vertical-align:middle;
}
a.nav_items:hover {
	text-shadow: 1px 1px 3px rgba(75, 199, 247, 0.3);
}
a.nav_items:active {
	text-shadow: 0px 0px 4px rgba(76, 176, 255, 1.0);
}

/* Start body CSS! */
#main {
	width:100%;
}
#main_wrap {
	width:1100px;
	margin-right:auto;
	margin-left:auto;
}
#main_slide {
	width:1100px;
	height:560px;
	border-left: 1px solid #f6f6f6;
	border-right: 1px solid #f6f6f6;
	position:relative;
}
#slide_frame {
	width:1100px;
	height:67px;
	background-image:url('../images/slide_frame.png');
	position:absolute;
	top:535px;
	z-index:1
	
}






/* A note on fonts:
'RobotoRegular'
'RobotoItalic'
'RobotoBold'
'RobotoBoldItalic'
'RobotoCondensed'
'RobotoCondensedItalic'
'RobotoBoldCondensed'
'RobotoBoldCondensedItalic'
'RobotoThin'
'RobotoThinItalic'
'RobotoLight'
'RobotoLightItalic'
'RobotoMedium'
'RobotoMediumItalic'
'RobotoBlack'
'RobotoBlackItalic'
*/