body {
	font-family:tahoma;
	background-color:#ebebeb;
	margin:0px;
}
img {
	border:none;
}

#main_head {
	width:100%;
	min-width:1115px;
	/* ie support */
		width:auto !important;
		width:1115px;
		
	height:175px;
	position:relative;
	z-index:1;

	background: #f8f8f8; /* Old browsers */
	background: -moz-linear-gradient(top, #f8f8f8 52%, #ebebeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(52%,#f8f8f8), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f8f8f8 52%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f8f8f8 52%,#ebebeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f8f8f8 52%,#ebebeb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f8f8f8 52%,#ebebeb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
	
	border-bottom: 1px solid #f6f6f6;

	-moz-box-shadow: 0px 0px 7px rgb(88, 88, 88);
	-webkit-box-shadow: 0px 0px 7px rgb(88, 88, 88);
	-o-box-shadow: 0px 0px 7px rgb(88, 88, 88);
	box-shadow: 0px 0px 7px rgb(88, 88, 88);
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#c1c1c1')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#c1c1c1');
}
#main_head_wrap {
	width:1115px;
	height:175px;
	padding:5px;
	margin-right:auto;
	margin-left:auto;
}
#logo {
	float:left;
	margin-top:25px;
	background-image:url('../images/logo.png');
	display:block;
	width:324px;
	height:98px;
	text-indent:-9999px;
}
#nav {
	float:right;
	width:785px;
	height:50px;
	margin-top:115px;
}
a.nav_items:link, a.nav_items:visited{
	text-decoration:none;
	font-family:'RobotoLight', Tahoma, sans-serif;
	font-size:22pt;
	color:#a2a2a2;
}
a.nav_items-b:link, a.nav_items-b:visited{
	text-decoration:none;
	font-family:'RobotoLight', Tahoma, sans-serif;
	font-size:22pt;
	color:#05aede;
}
.nav_items_s {
	display: inline-block;
	vertical-align:middle;
	height:31px;
}
.nav_line {
	background-image:url('../images/nav_line.png');
	display: inline-block;
	height:50px;
	width:2px;
	margin-left:10px;
	margin-right:10px;
	vertical-align:middle;
}
a.nav_items:hover {
	text-shadow: 1px 1px 3px rgba(75, 199, 247, 0.3);
	color:#717171;
}
a.nav_items:active {
	text-shadow: 0px 0px 4px rgba(76, 176, 255, 1.0);
}

/* Start body CSS! */
#main {
	width:100%;
	min-width:1110px;
		/* ie support */
		width:auto !important;
		width:1110px;
}
#main_wrap {
	width:1110px;
	margin-right:auto;
	margin-left:auto;
}
#main_slide {
	width:1104px;
	height:560px;
	position:relative;
	background-color:#c1c1c1;
/*	-moz-box-shadow:inset 0 0 7px rgb(88, 88, 88);
	-webkit-box-shadow:inset 0 0 7px rgb(88, 88, 88);
	-o-box-shadow:inset 0 0 7px rgb(88, 88, 88);
	box-shadow:inset 0 0 7px rgb(88, 88, 88); */
}
#slide_frame {
	width:1104px;
	height:64px;
	background-image:url('../images/slide_frame.png');
	position:absolute;
	top:500px;
	z-index:1
}
/* mission statement */
#mission {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	font-family:'RobotoLight', Tahoma, sans-serif;
	font-size:14pt;
	
}
.slide_image {
	width:1100px; 
	margin-left:2px; 
	margin-right:2px;
	position:absolute;
	top:0px;
}


.blue {
	color:#0287ae;
}
.orange {
	color:#c67b04;
}
.green {
	color:#009a07;
}
/* option slider */
#option_arrows {
	width:1080px;
	height:180px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	padding-top:10px;
	padding-bottom:10px;
	
}

#option_slider {
	width:960px;
	margin-left:auto;
	margin-right:auto;
	height:180px;
	position:relative;
	z-index:1;
	
	
	background: #575757; /* Old browsers */
	background: -moz-linear-gradient(top, #575757 0%, #303030 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#575757), color-stop(100%,#303030)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #575757 0%,#303030 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #575757 0%,#303030 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #575757 0%,#303030 100%); /* IE10+ */
	background: linear-gradient(to bottom, #575757 0%,#303030 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575757', endColorstr='#303030',GradientType=0 ); /* IE6-9 */

	-moz-box-shadow:inset 0 0 10px #000000;
	-webkit-box-shadow:inset 0 0 10px #000000;
	box-shadow:inset 0 0 10px #000000;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	overflow-x:hidden;
}
#slide_panel {
	height:180px;
	width:1920px;
	position:absolute;
	left:0px;
	
	/*
	background: #f0f9ff;
	background: -moz-linear-gradient(left, #f0f9ff 0%, #a1dbff 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f0f9ff), color-stop(100%,#a1dbff));
	background: -webkit-linear-gradient(left, #f0f9ff 0%,#a1dbff 100%);
	background: -o-linear-gradient(left, #f0f9ff 0%,#a1dbff 100%);
	background: -ms-linear-gradient(left, #f0f9ff 0%,#a1dbff 100%);
	background: linear-gradient(to right, #f0f9ff 0%,#a1dbff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 );
	*/
}
#arrow_right {
	background-image:url('../images/arrow_right.png');
	width:43px;
	height:73px;

	position:absolute;
	top:53px;
	right:0px;
}
#arrow_left {
	background-image:url('../images/arrow_left.png');
	width:43px;
	height:73px;

	position:absolute;
	top:53px;
	left:0px;
}
.panel {
	margin-left:20px;
	margin-right:19px;
	height:150px;
	width:230px;
	display:inline-block;
	margin-top:15px;
}
.ring {
	margin-left:5px;
	margin-right:5px;
	height:55px;
	width:55px;
	display:inline-block;
	background-image:url('../images/ring.png');
	position: relative;
	top: -50px;
}
#educate {
	background-image:url('../images/educate.png');
}
#create {
	background-image:url('../images/create.png');
}
#diagnose {
	background-image:url('../images/diagnose.png');
}
#bottom_pin {
	width:492px;
	height:38px;
	display:block;
	background-image:url('../images/bottom_pin.png');
	margin-right:auto;
	margin-left:auto;
	margin-top:30px;
}
#foot {
	width:100%;
	min-width:1115px;
	/* ie support */
		width:auto !important;
		width:1115px;
	height:110px;
	
	background: #575757; /* Old browsers */
	background: -moz-linear-gradient(top, #575757 0%, #303030 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#575757), color-stop(100%,#303030)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #575757 0%,#303030 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #575757 0%,#303030 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #575757 0%,#303030 100%); /* IE10+ */
	background: linear-gradient(to bottom, #575757 0%,#303030 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575757', endColorstr='#303030',GradientType=0 ); /* IE6-9 */

	-moz-box-shadow:inset 0 0 8px #000000;
	-webkit-box-shadow:inset 0 0 8px #000000;
	box-shadow:inset 0 0 8px #000000;
	
}
#foot_wrap {
	width:1115px;
	height:110px;
	margin-right:auto;
	margin-left:auto;
}
#foot_watermark {
	padding:25px 25px 0px 25px;
	color: rgb(173, 173, 173);
	font-family:'RobotoLightItalic', Tahoma, sans-serif;
	font-size:17pt;
}

/* For the package price boxes*/
#pricing-table {
	margin: 0px auto;
	text-align: center;
	width: 695px; /* total computed width = 222 x 3 + 226 */
}

#pricing-table .plan {
	font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
	text-shadow: 0 1px rgba(255,255,255,.8);        
	background: #fff;      
	border: 1px solid #ddd;
	color: #333;
	padding: 20px;
	width: 180px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */      
	float: left;
	position: relative;
}

#pricing-table #most-popular {
	z-index: 2;
	top: -13px;
	border-width: 3px;
	padding: 30px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
}

#pricing-table .plan:nth-child(1) {
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;        
}

#pricing-table .plan:nth-child(4) {
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;        
}

/* --------------- */	

#pricing-table h3 {
	font-size: 20px;
	color:white;
	font-weight: normal;
	padding: 20px;
	margin: -20px -20px 50px -20px;
	background-color: rgb(101, 194, 202);
	background-image: -moz-linear-gradient(rgb(101, 194, 202),#f8f8f8);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(101, 194, 202)), to(#f8f8f8));    
	background-image: -webkit-linear-gradient(rgb(101, 194, 202), #f8f8f8);
	background-image: -o-linear-gradient(rgb(101, 194, 202), #f8f8f8);
	background-image: -ms-linear-gradient(rgb(101, 194, 202), #f8f8f8);
	background-image: linear-gradient(rgb(101, 194, 202), #f8f8f8);
		text-shadow: 0 1px 0 rgba(0,0,0,.5);        

}

#pricing-table #most-popular h3 {
	background-color: #ddd;
	background-image: -moz-linear-gradient(#eee,#ddd);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));    
	background-image: -webkit-linear-gradient(#eee, #ddd);
	background-image: -o-linear-gradient(#eee, #ddd);
	background-image: -ms-linear-gradient(#eee, #ddd);
	background-image: linear-gradient(#eee, #ddd);
	margin-top: -30px;
	padding-top: 30px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0; 	

}

#pricing-table .plan:nth-child(1) h3 {
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;       
}

#pricing-table .plan:nth-child(4) h3 {
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;       
}	

#pricing-table h3 span {
	display: block;
	font: bold 25px/100px Georgia, Serif;
	color: #777;
	background: #fff;
	border: 5px solid #fff;
	height: 100px;
	width: 100px;
	margin: 10px auto -65px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	-moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	-webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

/* --------------- */

#pricing-table ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	min-height:240px;
}

#pricing-table li {
	border-top: 1px solid #ddd;
	padding: 10px 0;
}


.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1
}	   


/* The photo gallery CSS */
#photo_contain {
	height:100%;
	width:100%;
	padding-bottom:50px;
}
#photo_grad {
	height:750px;
	width:1110px;
	margin-right:auto;
	margin-left:auto;
	position:relative;
	
	background: #3f3f3f; /* Old browsers */
	background: -moz-linear-gradient(top, #3f3f3f 0%, #272727 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3f3f), color-stop(100%,#272727)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3f3f3f 0%,#272727 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3f3f3f 0%,#272727 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3f3f3f 0%,#272727 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3f3f3f 0%,#272727 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#272727',GradientType=0 ); /* IE6-9 */

	-moz-box-shadow:inset 0 0 5px #000000;
	-webkit-box-shadow:inset 0 0 5px #000000;
	box-shadow:inset 0 0 5px #000000;
	}
#photo_head {
	height:96px;
	width:639px;
	background-image:url('../images/photo/photo_head.png');
	position:absolute;
	top:20px;
	z-index:1;
}
	#photo_head span {
		color:#e3e3e3;
		font-family:'RobotoMediumItalic', Tahoma, sans-serif;
		font-size:22pt;
		text-shadow: 1px 1px 3px #2e2e2e;
		position:relative;
		top:35px;
		left:160px;
	}
#photo_current {
	float:left;
	margin-left:50px;
}
#main_photo {
	width:600px;
	height:400px;
	background-color:#c1c1c1;
	position:relative;
	margin-top:85px;
	
	border-style:solid;
	border-width:1px;
	border-color:#d6d6d6;
	
	-moz-box-shadow:1px 1px 4px #000000;
	-webkit-box-shadow:1px 1px 4px #000000;
	box-shadow:1px 1px 4px #000000;
}
#side_photo {
	height:125px;
	width:602px;
	background-color:#c1c1c1;
	position:relative;
	top:30px;
}
#side_photo img {
	margin-left:6px;
}
#photo_specs {
	float:right;
	margin-right:35px;
	margin-top:50px;
	height:400px;
	width:285px;
	padding:25px;
	background-color:#464646;
	
	border-style:solid;
	border-width:3px;
	border-color:#ababab;
	
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	-o-border-radius:25px;
	border-radius:25px;
	
	-moz-box-shadow:inset 1px 1px 6px #000000;
	-webkit-box-shadow:inset 1px 1px 6px #000000;
	box-shadow:inset 1px 1px 6px #000000;
}
#photo_specs div {
	font-family:'RobotoLight', Tahoma, sans-serif;
	font-size:16pt;
	color:#e3e3e3;
	margin-bottom:18px;
}
#photo_np {
	float:right;
	margin-right:35px;
	margin-top:50px;
	height:75px;
	width:315px;
	position:relative;
}
#photo_next {
	width:150px;
	height:75px;
	position:absolute;
	top:0px;
	left:0px;
	background-color:#f8f8f8;
}
#photo_previous {
	width:150px;
	height:75px;
	position:absolute;
	top:0px;
	right:0px;
	background-color:#f8f8f8;
}

/* other tables */

#buffer{
	margin:0px auto;
	min-width:955px;
	width:955px;
	height:700px;
}

#content1{
	margin:0px auto;
	min-width:955px;
	width:955px;
	height:auto;
}

.wat-bg{
	float:left;
	margin:10px 0px 0px 1px;
	padding-bottom:25px;
	width:230px;
	height:auto;
	background-color:#ebebeb;
}
.wat-head{
	float:left;
	padding:5px;
	margin:0px 0px 5px 4px;
	height:20px;
	width:230px;
	font-family:segoeL, Helvetica, sans-serif;
	font-size:20px;
	color:#333;
}
.wat-order{
	float:left;
	margin:2px 0px 10px 10px;
	height:50px;
	width:210px;
	background:#FFF;
}
.wat-name{
	float:left;
	margin:15px 0px 0px 0px;
	height:35px;
	width:140px;	
	text-align:center;
}
.wat-link1{
	float:left;
	margin:0px 0px 0px 10px;
	height:12px;
	width:130px;
	font-family:arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333;
	font-weight:bold;
}
.wat-link:hover{
	color:#89dfff;

}
.wat-link {
	float:left;
	margin:0px 0px 0px 10px;
	height:27px;
	width:130px;
	font-family:arial, Helvetica, sans-serif;
	font-size:11px;
	color:#949090;	
}
.wat-line{
	float:left;
	margin:15px 0px 0px 5px;
	height:20px;
	width:1px;
	background:#928a8a;
}
.money{
	float:left;
	margin:17px 0px 0px 10px;
	font-family:arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	height:30px;
	width:50px;
	color:#333;
}















/* A note on fonts:
'RobotoRegular'
'RobotoItalic'
'RobotoBold'
'RobotoBoldItalic'
'RobotoCondensed'
'RobotoCondensedItalic'
'RobotoBoldCondensed'
'RobotoBoldCondensedItalic'
'RobotoThin'
'RobotoThinItalic'
'RobotoLight'
'RobotoLightItalic'
'RobotoMedium'
'RobotoMediumItalic'
'RobotoBlack'
'RobotoBlackItalic'
*/
