body {
	font-family:tahoma;
	background-color:#ebebeb;
	margin:0px;
}
img {
	border:none;
}

#main_head {
	width:100%;
	min-width:1115px;
	/* ie support */
		width:auto !important;
		width:1115px;
		
	height:175px;
	position:relative;
	z-index:1;

	background: #f8f8f8; /* Old browsers */
	background: -moz-linear-gradient(top, #f8f8f8 52%, #ebebeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(52%,#f8f8f8), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f8f8f8 52%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f8f8f8 52%,#ebebeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f8f8f8 52%,#ebebeb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f8f8f8 52%,#ebebeb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
	
	border-bottom: 1px solid #f6f6f6;

	-moz-box-shadow: 0px 0px 7px rgb(88, 88, 88);
	-webkit-box-shadow: 0px 0px 7px rgb(88, 88, 88);
	-o-box-shadow: 0px 0px 7px rgb(88, 88, 88);
	box-shadow: 0px 0px 7px rgb(88, 88, 88);
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#c1c1c1')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#c1c1c1');
}
#main_head_wrap {
	width:1115px;
	height:175px;
	padding:5px;
	margin-right:auto;
	margin-left:auto;
}
#logo {
	float:left;
	margin-top:25px;
	background-image:url('../images/logo.png');
	display:block;
	width:324px;
	height:98px;
	text-indent:-9999px;
}
#nav {
	float:right;
	width:785px;
	height:50px;
	margin-top:115px;
}
a.nav_items:link, a.nav_items:visited{
	text-decoration:none;
	font-family:'RobotoLight', Tahoma, sans-serif;
	font-size:22pt;
	color:#777777;
	background: -webkit-linear-gradient(#a6a6a6, #777777);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
a.nav_items-b:link, a.nav_items-b:visited{
	text-decoration:none;
	font-family:'RobotoLight', Tahoma, sans-serif;
	font-size:22pt;
	color:#05aede;
}
.nav_items_s {
	display: inline-block;
	vertical-align:middle;
	height:31px;
}
.nav_line {
	background-image:url('../images/nav_line.png');
	display: inline-block;
	height:50px;
	width:2px;
	margin-left:10px;
	margin-right:10px;
	vertical-align:middle;
}
a.nav_items:hover {
	text-shadow: 1px 1px 3px rgba(75, 199, 247, 0.3);
}
a.nav_items:active {
	text-shadow: 0px 0px 4px rgba(76, 176, 255, 1.0);
}

/* Start body CSS! */
#main {
	width:100%;
	min-width:1110px;
		/* ie support */
		width:auto !important;
		width:1110px;
}
#main_wrap {
	width:1110px;
	margin-right:auto;
	margin-left:auto;
}
#main_slide {
	width:1104px;
	height:560px;
	border-left: 1px solid #f6f6f6;
	border-right: 1px solid #f6f6f6;
	position:relative;
	background-color:#c1c1c1;
/*	-moz-box-shadow:inset 0 0 7px rgb(88, 88, 88);
	-webkit-box-shadow:inset 0 0 7px rgb(88, 88, 88);
	-o-box-shadow:inset 0 0 7px rgb(88, 88, 88);
	box-shadow:inset 0 0 7px rgb(88, 88, 88); */
}
#slide_frame {
	width:1104px;
	height:67px;
	background-image:url('../images/slide_frame.png');
	position:absolute;
	top:500px;
	z-index:1
}
/* mission statement */
#mission {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	font-family:'RobotoLight', Tahoma, sans-serif;
	font-size:14pt;
	
}
.blue {
	color:#0287ae;
}
.orange {
	color:#c67b04;
}
.green {
	color:#009a07;
}
/* option slider */
#option_arrows {
	width:1080px;
	height:180px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	padding-top:10px;
	padding-bottom:10px;
	
}

#option_slider {
	width:960px;
	margin-left:auto;
	margin-right:auto;
	height:180px;
	position:relative;
	z-index:1;
	
	
	background: #575757; /* Old browsers */
	background: -moz-linear-gradient(top, #575757 0%, #303030 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#575757), color-stop(100%,#303030)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #575757 0%,#303030 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #575757 0%,#303030 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #575757 0%,#303030 100%); /* IE10+ */
	background: linear-gradient(to bottom, #575757 0%,#303030 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575757', endColorstr='#303030',GradientType=0 ); /* IE6-9 */

	-moz-box-shadow:inset 0 0 10px #000000;
	-webkit-box-shadow:inset 0 0 10px #000000;
	box-shadow:inset 0 0 10px #000000;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	overflow-x:hidden;
}
#slide_panel {
	height:180px;
	width:1920px;
	position:absolute;
	left:-960px;
	
	
	background: #f0f9ff; /* Old browsers */
	background: -moz-linear-gradient(left, #f0f9ff 0%, #a1dbff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f0f9ff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #f0f9ff 0%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #f0f9ff 0%,#a1dbff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #f0f9ff 0%,#a1dbff 100%); /* IE10+ */
	background: linear-gradient(to right, #f0f9ff 0%,#a1dbff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 ); /* IE6-9 */

}
#arrow_right {
	background-image:url('../images/arrow_right.png');
	width:43px;
	height:73px;

	position:absolute;
	top:53px;
	right:0px;
}
#arrow_left {
	background-image:url('../images/arrow_left.png');
	width:43px;
	height:73px;

	position:absolute;
	top:53px;
	left:0px;
}




/* A note on fonts:
'RobotoRegular'
'RobotoItalic'
'RobotoBold'
'RobotoBoldItalic'
'RobotoCondensed'
'RobotoCondensedItalic'
'RobotoBoldCondensed'
'RobotoBoldCondensedItalic'
'RobotoThin'
'RobotoThinItalic'
'RobotoLight'
'RobotoLightItalic'
'RobotoMedium'
'RobotoMediumItalic'
'RobotoBlack'
'RobotoBlackItalic'
*/